stages:
  - prepare
  - test
image: hosting23232323/python-node:3.11
variables:
  POSTGRES_DB: mydb
  POSTGRES_USER: myuser
  POSTGRES_PASSWORD: mypassword
  DATABASE_URL: postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}
  DECODE_JWT_TOKEN: token

  GITLAB_PIPELINE: 'true'

fe_dependencies:
  stage: prepare
  script:
    - git clone https://$CI_ITALCO_FE_USERNAME:$CI_ITALCO_FE_TOKEN@gitlab.com/generic-lab/italco/italco-fe.git
    - cd italco-fe
    - npm ci
  artifacts:
    paths:
      - italco-fe
    expire_in: 1h
  tags:
    - linux
  rules:
    - if: '$CI_COMMIT_BRANCH != "main"'

be_dependencies:
  stage: prepare
  script:
    - python -m venv venv
    - source venv/bin/activate
    - pip install -r requirements.txt
    - git clone https://$CI_GENERIC_TEST_USERNAME:$CI_GENERIC_TEST_TOKEN@gitlab.com/generic-lab/generics/generic-test.git
    - cd generic-test
    - pip install -r ./requirements.txt
  artifacts:
    paths:
      - generic-test
      - venv
    expire_in: 1h
  tags:
    - linux
  rules:
    - if: '$CI_COMMIT_BRANCH != "main"'

test_end_to_end:
  stage: test
  needs:
    - job: fe_dependencies
      artifacts: true
    - job: be_dependencies
      artifacts: true
  services:
    - name: postgres:15
      alias: postgres
    - name: selenium/standalone-chromium:latest
      alias: selenium
  script:
    - export VITE_HOSTNAME=http://$(hostname -I | tr ' ' '\n' | grep -m1 '^[0-9]\+\.[0-9]\+\.[0-9]\+\.[0-9]\+$'):8080/
    - export VITE_HOSTNAME_ITALCO_FE=http://$(hostname -I | tr ' ' '\n' | grep -m1 '^[0-9]\+\.[0-9]\+\.[0-9]\+\.[0-9]\+$'):3000/
    - export OPENAI_API_KEY='test'
    - export ASSISTANT_ID='test'
    - source venv/bin/activate
    - alembic upgrade heads
    - python -m src &

    - cd italco-fe
    - npm run build
    - npm run serve &

    - cd ../generic-test
    - pytest -s ./src/tests/italco/test_login.py
  artifacts:
    when: always
    paths:
      - generic-test/screenshots/
    expire_in: 1 week
  tags:
    - linux
  rules:
    - if: '$CI_COMMIT_BRANCH != "main"'

lint_backend:
  stage: test
  image: python:3.11
  script:
    - pip install ruff
    - ruff check ./src --exit-non-zero-on-fix
    - ruff format ./src --exit-non-zero-on-fix
  tags:
    - linux
  rules:
    - if: '$CI_COMMIT_BRANCH != "main"'

.deploy_template: &deploy_template
  stage: deploy
  script:
    - |
      if [ "$CI_JOB_NAME" = "deploy_test" ]; then
        PJ_NAME="${PROJECT_NAME}-test"
        CONTAINER_ACTIVE="${PROJECT_NAME}-test"
        CONTAINER_NEXT="${PROJECT_NAME}-test-next"
        FIRST_PORT="${PORT_TEST%%-*}"
        SECOND_PORT="${PORT_TEST#*-}"
        VITE_HOSTNAME="${DATABASE_URL_ITALCO_BE}_test"
        IS_DEV=1
      else
        PJ_NAME="${PROJECT_NAME}"
        CONTAINER_ACTIVE="${PROJECT_NAME}"
        CONTAINER_NEXT="${PROJECT_NAME}-next"
        FIRST_PORT="${PORT_PROD%%-*}"
        SECOND_PORT="${PORT_PROD#*-}"
        VITE_HOSTNAME="${DATABASE_URL_ITALCO_BE}"
        IS_DEV=0
      fi

      cat <<-EOF > env_file
        DATABASE_URL=$VITE_HOSTNAME
        DECODE_JWT_TOKEN=$DECODE_JWT_TOKEN_ITALCO_BE
        EURONICS_API_PASSWORD=$EURONICS_API_PASSWORD_ITALCO_BE
        TELEGRAM_TOKEN=$TELEGRAM_TOKEN
        API_PREFIX=$API_PREFIX_ITALCO_BE
        SWAGGER_KEY=$SWAGGER_KEY_ITALCO_BE
        STATIC_FOLDER=$STATIC_FOLDER_ITALCO_BE
        VONAGE_API_KEY=$VONAGE_API_KEY_ITALCO_BE
        VONAGE_API_SECRET=$VONAGE_API_SECRET_ITALCO_BE
        EMAIL_SENDER_NAME=$EMAIL_SENDER_NAME_ITALCO_BE
        EMAIL_SENDER_ADDRESS=$EMAIL_SENDER_ADDRESS_ITALCO_BE
        EMAIL_SENDER_PASSWORD=$EMAIL_SENDER_PASSWORD_ITALCO_BE
        EMAIL_SENDER_SMTP_SERVER=$EMAIL_SENDER_SMTP_SERVER_ITALCO_BE
        OPENAI_API_KEY=$OPENAI_API_KEY_ITALCO_BE
        ASSISTANT_ID=$ASSISTANT_ID_ITALCO_BE
        IS_DEV=$IS_DEV
      EOF

      docker build -t $PJ_NAME:latest .
      docker rm -f "${CONTAINER_NEXT}" 2>/dev/null || true

      docker run --rm \
        --env-file env_file \
        $PJ_NAME:latest python -m alembic upgrade heads

      docker run -d --name ${CONTAINER_NEXT} \
        --env-file env_file \
        -p ${SECOND_PORT}:8080 \
        $PJ_NAME:latest

      sleep 10

      if curl -v http://localhost:$SECOND_PORT/api/; then
        docker rm -f ${CONTAINER_ACTIVE} 2>/dev/null || true
        docker run -d --restart unless-stopped \
          --name ${CONTAINER_ACTIVE} \
          --env-file env_file \
          -p ${FIRST_PORT}:8080 \
          $PJ_NAME:latest
        docker rm -f ${CONTAINER_NEXT} 2>/dev/null || true
      else
        docker logs ${CONTAINER_NEXT} || true
        exit 1
      fi

deploy_test:
  <<: *deploy_template
  tags:
    - deploy-local
  when: manual

deploy_prod:
  <<: *deploy_template
  tags:
    - deploy-local
  when: manual
  only:
    - main
