<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Documento di Consegna</title>
  <style>
    h1 { font-size: 20px; }
    p { font-size: 15px; }
  </style>
</head>
<body>
  <h1>Riepilogo Ordinazioni</h1>
  <p>
    <b>Punto Vendita:</b> {{ customer }}<br>
    <b>Data di Inizio:</b> {{ start_date }}<br>
    <b>Data di Fine:</b> {{ end_date }}<br>
  </p><hr><p>
    {% for order in orders %}
      <b>ID:</b> {{ order['id'] }}<br>
      <b>Tipo:</b> {{ order['type'] }}<br>
      <b>Anagrafica:</b> {{ order['addressee']['name'] }}<br>
      <b>Servizi:</b>
      {% for service in order['services'] %}
        {{ service['name'] }}{% if not loop.last %}, {% endif %}
      {% endfor %}<br>
      <b>Prezzo:</b> {{ '%.2f' % order['price'] }} €<br>
    {% endfor %}
  </p><hr><p>
    <b>Totale:</b> {{ '%.2f' % total }} €
  </p>
</body>
</html>
