{% extends "components/base.html" %}
{% from "components/order.html" import info_table, products_table, signatures %}

{% block content %}
<h1>N° Bolla: {{ id }}</h1>

{{ info_table("Informazioni Destinatario", [
  ("Nome", addressee),
  ("Indirizzo", address),
  ("Recapito", addressee_contact)
]) }}

{{ info_table("Dettagli Consegna", [
  ("Committente", customer.nickname),
  ("Data prevista consegna", dpc),
  ("Data richiesta consegna", drc),
  ("Data consegna effettiva", booking_date),
  ("Note aggiuntive", note)
]) }}

{{ products_table(products) }}

{{ signatures(signature) }}
{% endblock %}
