{% extends "components/base.html" %}
{% from "components/order.html" import info_table, service_list, order_block %}
{% from "components/rae.html" import rae_block %}

{% block content %}
<h1>N° Borderò: {{ id }}</h1>

{{ info_table("Informazioni", [
  ("ID", id),
  ("Data", date),
  ("Utenti Delivery", users),
  ("Veicolo", transport)
]) }}

<div class="section">
  <h2>Ordini</h2>
  <table class="data-table">
    <thead>
      <tr>
        <th style="width: 10%;">Id</th>
        <th style="width: 14%;">Tipo</th>
        <th style="width: 22%;">Destinatario</th>
        <th style="width: 31%;">Prodotti e Servizi</th>
        <th style="width: 23%;">Punto Vendita</th>
        <th style="width: 23%;">Note</th>
      </tr>
    </thead>
    <tbody>
      {% for order in orders %}
      <tr>
        <td>{{ order.id }}</td>
        <td>{{ order.type }}</td>
        <td>{{ order.addressee }}<br>{{ order.address }}, {{ order.cap }}<br>{{ order.addressee_contact }}</td>
        <td>
          {% for product_name, product in order.products.items() %}
            <strong>{{ product_name }}</strong>
            [{{ product.collection_point.name }}]<br>
            {{ service_list(product.services, inline=True) }}
            <br>
          {% endfor %}
        </td>
        <td>{{ order.user.nickname }}</td>
        <td>{{ [order.customer_note, order.operator_note] | select | join(', ') or '/' }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div class="section">
  <h2>Distanza</h2>
  <table class="data-table">
    <thead>
      <tr>
        <th style="width: 50%;">KM Inizio</th>
        <th style="width: 50%;">KM Fine</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="section" style="margin-top: 30px">
  <table class="info-table">
    <tr>
      <td style="width: 50%; vertical-align: top; border: none; padding-left: 0;"></td>
      <td style="width: 50%; vertical-align: top; border: none; padding-left: 0;">
        <div style="border: 1px solid #999; padding: 10px 10px 30px;">
          <em>Firma Corriere</em>
        </div>
      </td>
    </tr>
  </table>
</div>

<div style="page-break-before: always;"></div>

{% for order in orders %}
  <h2>N° Ordine: {{ order.id }}</h2>

  {{ order_block(order) }}

  <div style="page-break-before: always;"></div>
  {% for rae_product in order.rae_products %}
    {{ rae_block(rae_product, order.customer, order.addressee, order.address) }}
    <div style="page-break-before: always;"></div>
  {% endfor %}

  {% if not loop.last %}
  <div style="page-break-before: always;"></div>
  {% endif %}
{% endfor %}
{% endblock %}
