{# Carta intestata dell'attivita', in cima a ogni PDF: rettangolo con bordo
   grigio, logo a sinistra a tutta altezza separato da un filetto, dati legali
   al centro (ragione sociale in grassetto, poi indirizzo, poi P. IVA / C.F.
   sulla stessa riga), targhetta "Powered by Ares Logistics" incastrata
   nell'angolo in basso a destra. Il logo c'e' sempre: quello dell'attivita'
   se caricato, altrimenti quello di Ares. La targhetta e' un SVG (vedi
   exportation/powered_tag.svg) perche' xhtml2pdf non sa arrotondare gli
   angoli in CSS. Se non c'e' nessuna company non stampa nulla. #}
{% macro company_header(company, company_logo, powered_tag=None) %}
{% if company %}
<table class="letterhead">
  <tr>
    <td class="letterhead-logo">
      {% if company_logo %}<img src="{{ company_logo }}">{% endif %}
    </td>
    <td class="letterhead-info">
      {% set place = [company.address, company.city] | select | join(', ') %}
      {% set ids = [] %}
      {% if company.vat_number %}{% set _ = ids.append('P. IVA ' ~ company.vat_number) %}{% endif %}
      {% if company.tax_code %}{% set _ = ids.append('C.F. ' ~ company.tax_code) %}{% endif %}
      {% set extra_lines = [] %}
      {% if place %}{% set _ = extra_lines.append(place) %}{% endif %}
      {% if ids %}{% set _ = extra_lines.append(ids | join(' - ')) %}{% endif %}
      {# Righe unite con <br> in un unico blocco: divs separati in una cella
         di tabella prendono in xhtml2pdf un'interlinea fissa extra che il
         line-height del CSS non controlla. #}
      <span class="letterhead-name">{{ company.legal_name or company.name }}</span>
      {% for line in extra_lines %}<br>{{ line }}{% endfor %}
    </td>
    <td class="letterhead-powered">
      {% if powered_tag %}<img class="powered-tag" src="{{ powered_tag }}">{% endif %}
    </td>
  </tr>
</table>
{% endif %}
{% endmacro %}
