{% macro rae_products_table(rows) %}
<table class="data-table" repeat="1">
  <thead>
    <tr>
      <th style="width: 13%;">Data DTR</th>
      <th style="width: 11.5%;">N° DDT</th>
      <th style="width: 14.5%;">Prodotto</th>
      <th style="width: 10.5%;">CER</th>
      <th style="width: 13.5%;">Raggrupp.</th>
      <th style="width: 8.5%;">Q.tà</th>
      <th style="width: 12.5%;">Punto Vendita</th>
      <th style="width: 16%;">Destinatario</th>
    </tr>
  </thead>
  <tbody>
    {% for row in rows %}
    <tr>
      <td>{{ row.dtr }}</td>
      <td>{{ row.n_ddt }}</td>
      <td>{{ row.nome_prodotto }}</td>
      <td>{{ row.codice_cer }}</td>
      <td>{{ row.raggruppamento }}</td>
      <td>{{ row.quantita }}</td>
      <td>{{ row.cliente }}</td>
      <td>{{ row.destinatario }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endmacro %}
